<!DOCTYPE html>

<html>
    <head>
        
		<link rel="stylesheet" type="text/css" href="design.css" />

  
    </head>

    <body>
	
	<img src="1.png" width=100 height=100 />
	
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

		
	
        <h1>All fonts available</h1>

        <select name="font" id="font">
        <% todolist.forEach(function(todo, index) { %>
            <option value= <%= todo %> index=<%= index %> style="font-family:<%= todo %>"  >  <%= todo %></option>
        <% }); %>
		
		
        </select>

		
		
		
		
		
	<script>
	
	var indexDeletion = 0;
	var fontToDelete="";
	
	// CHANGE FONT STYLE
	$( "#font" ).change(function() {
	$( "#font" ).css("font-family",$( "#font" ).val());
	indexDeletion = $('#font').find(":selected").attr("index");
	
	//alert(indexDeletion);
	$( "#deletion" ).text( " Delete " + $( "#font" ).val() + " font " );
	$( "#deletion" ).attr("href","/allFonts/deleteFont/"+indexDeletion);
	
	
	
	});
	
	
	</script>
	
	</br>
	</br>
	
	<a href="/upload">UPLOAD </a>

	</br>
	</br>
	
	
	<a id="deletion" href="/allFonts/supprimer/"></a>
		
	
      
    </body>
</html>