<!DOCTYPE html>

<html>

   <head>
        
		<link rel="stylesheet" type="text/css" href="design.css" />

  
    </head>
	
	

	<body>

		<h3> Upload Succeed </h3>
		</br>
		<a href="/allFonts">BACK TO FONTPAGE </a>

		</body>


</html>
