<html>
    <body>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>

	
	
	
	
        <form ref='uploadForm' 
            id='uploadForm' 
            action='http://localhost:8081/upload' 
            method='post' 
            encType="multipart/form-data">
               
              <input  name="sampleFile" type="file">
		     <input type='submit' value='Upload!' />
        </form>	




		
    </body>
</html>